{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.json", "*.json5", "*.jsonc"],
      "parser": "jsonc-eslint-parser"
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "jest",
    "@typescript-eslint",
    "better-styled-components"
  ],
  "rules": {
    "prettier/prettier": "error",
    // Rules disabled on purpose
    "react-hooks/exhaustive-deps": ["off"],
    "react/prop-types": ["off"],
    "react/react-in-jsx-scope": "off",
    // Rules enabled
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": true
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "better-styled-components/sort-declarations-alphabetically": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
