html {
  font-size: 16px;
}

#language-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

#language-buttons a {
  color: #37119d;
  margin: 0;
}

#separator {
  color: #37119d;
  border-right: 1px solid #1c325d;
  height: 25px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
}
