html,
body {
  background: linear-gradient(
      180deg,
      rgba(1, 165, 236, 0.58) 0%,
      rgba(89, 58, 214, 0.58) 100%
    ),
    url(/static/img/milad-fakurian-E8Ufcyxz514-unsplash.jpg) no-repeat fixed
      center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  /* width: 100%;
  height: 100%; */
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
  margin-top: 30px;
}

h1 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  /* blue/dark blue */
  color: #1c325d;
}

h2 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
  /* blue/dark blue */
  color: #1c325d;
  margin-top: 30px;
  margin-bottom: 5px;
}

.panels {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  width: 90vw;
  max-width: 800px;
}

.panel {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
  /* width: 50% !important; */
  min-width: 596px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

input[type='text'],
input[type='password'] {
  /* Rectangle 122 */
  box-sizing: border-box;
  /* greyscale/white */
  background: #ffffff;
  /* purple/purple */
  border: 1px solid #4a2acb;
  border-radius: 5px;
}

p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

a {
  font-weight: 700;
}

a img {
  vertical-align: middle;
}

.paragraph p {
  margin-bottom: 20px !important;
}

form input {
  width: 100%;
  font-size: 1rem;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}

label {
  /* p/label */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 20px 0 0 0;
  /* identical to box height, or 27px */

  /* blue/dark blue */
  color: #1c325d;
}

.footer h3 {
  /* p/p-semibold */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  /* greyscale/white */
  color: #ffffff;
}

form[name='login'] {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 15vh;
  margin-top: 15vh;
  width: 80%;
}

form[name='register'] {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px 100px;
  width: 500px;
}

form[name='register'] button:enabled {
  margin-top: 30px;
  background-color: #4a2acb;
  color: #f0ba8c;
}

button:disabled,
button[disabled] {
  margin-top: 30px;
  cursor: not-allowed;
  outline: none;
  border: 0;
  background-color: #dbdbdb;
  color: #616161;
}

button:disabled:hover {
  background-color: #dbdbdb;
  color: #616161;
}

button:disabled:focus,
button:disabled:active,
button:disabled:target {
  outline: none;
}

.sameline {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sameline label {
  font-weight: 400;
}

.leftalign {
  float: right;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

/* Tooltip text */
.tooltip .tooltiptext {
  bottom: 125%;
  left: 50%;
  margin-left: -134px; /* Use half of the width (268/2 = 134), to center the tooltip */
  visibility: hidden;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  width: 268px;
  background-color: #f0ba8c;
  color: #1c325d;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  white-space: wrap !important;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 98%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #f0ba8c transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 60px !important;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border: 2px solid;
  border-color: #616161;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #616161;
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  border-color: #4a2acb !important;
}

input:checked + .slider:before {
  background-color: #4a2acb;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.field-info {
  margin: 13px auto 0 0;
  border-left: 14px #4a2acb solid;
  box-shadow: none;
  background-color: #e4f3fb;
  color: #1c325d;
  box-sizing: border-box;
  padding: 10px 20px;
}

#login-error {
  display: none;
  border-radius: 4px;
  box-shadow: none;
  letter-spacing: 0.01071em;
  background-color: #f9e5e4;
  color: #972232;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#login-error svg {
  margin-right: 21px;
  margin-left: 21px;
}

#retrieve-password {
  /* p/button link */
  font-family: 'Baloo 2';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;

  /* purple/purple */
  color: #4a2acb;
  /* width: 391px !important; */
  /* margin: 10px auto 20px 0; */
}

/* Skeleton css */

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 1.75rem;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  width: 12.5rem;
  height: 3.5rem;
  max-height: 3.5rem;
  padding: 1rem 2rem;
  font-family: 'Baloo 2';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  align-self: center;
  /* position: absolute; */
  /* bottom: 125px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  transition: background-color 300ms forwards, color 300ms forwards;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  background-color: #37119d;
  outline: 0;
}

.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus,
.button:active,
button:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
.button:target,
button:target,
input[type='submit']:target,
input[type='reset']:target,
input[type='button']:target {
  background-color: #4a2acb;
  outline: #4a2acb solid 3px;
  outline-offset: 4px;
}

.button:visited,
button:visited,
input[type='submit']:visited,
input[type='reset']:visited,
input[type='button']:visited {
  background-color: #5c33ff;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: solid 2px #4a2acb;
  background-color: #e4f3fb;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}

input[type='submit'] {
  /* button-default-large */
  flex: 1;

  /* purple/purple */
  background: #4a2acb;
  left: 46%;
  /* container */

  /* orange/orange */
  color: #f0ba8c;
  border: none !important;
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#mobile-header {
  display: none;
  left: 0px;
  top: 0px;
  background: #4a2acb;
  /* shadow */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 19px 19px;
  min-height: 101px;
  height: 101px;
  color: #fff;
  z-index: 2;
}

#mobile-header svg {
  margin: 27px 32px 0 auto;
  text-align: center;
}

#mobile-header h1 {
  color: #fff;
  text-align: left;
  margin: 27px auto 0 0;
}

@media only screen and (max-width: 960px) {
  body {
    height: auto;
  }
  main {
    width: 100%;
    min-width: none !important;
  }
  #mobile-header {
    display: flex;
  }
  .panels {
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: none;
  }
  .panel {
    width: 100% !important;
    border-radius: 0;
    min-width: 100px !important;
    margin: 0 auto 0 auto;
  }
  .right {
    margin-left: 0px;
  }
  .left {
    margin-top: -40px;
    z-index: 1;
  }

  form[name='login'] {
    margin-top: 30px;
  }
}
