html,
body {
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(1, 165, 236, 0.58) 0%,
      rgba(89, 58, 214, 0.58) 100%
    ),
    url(/static/img/milad-fakurian-E8Ufcyxz514-unsplash.jpg) no-repeat fixed right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

h1 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  margin: 0 auto 30px auto;
  color: #1c325d;
}

a {
  font-family: 'Baloo 2';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #4a2acb;
  margin: 10px auto 20px 0;
}

.panels {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  width: 90vw;
  max-width: 800px;
}

.panel {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
  min-width: 596px !important;
  height: 702px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.left {
  background: #ffffff;
  padding-right: 4%;
}

.right {
  background: #4c2ec6;
  z-index: 1;
  margin-left: -4%;
}

.right svg {
  margin-top: -60px;
}

input[type='text'],
input[type='password'] {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #4a2acb;
  border-radius: 5px;
}

/* Rekisteröidy */

.button,
button,
input[type='button'] {
  border: 3px solid #f0ba8c !important;
  color: #f0ba8c;
}

.right h1 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  width: 80%;
  text-align: center;
  margin: 34px auto 0 auto;
  color: #ffffff;
}

.right p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

form input {
  width: 100%;
  font-size: 1rem;
}

label {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  width: 80% !important;
  margin: 20px auto 0 0;
  color: #1c325d;
}

form[name='login'] {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 15vh;
  margin-top: 15vh;
  width: 80%;
}

#login-error {
  display: none;
  border-radius: 4px;
  box-shadow: none;
  letter-spacing: 0.01071em;
  background-color: #f9e5e4;
  color: #972232;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  gap: 10px;
  line-height: 140%;
  box-sizing: border-box;
  padding: 0.5rem;
}

#login-error svg {
  margin-right: 21px;
  margin-left: 21px;
}

/* Skeleton css */

.button,
button,
button[type='submit'] input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 1.75rem;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  width: 12.5rem;
  height: 3.5rem;
  max-height: 3.5rem;
  padding: 1rem 2rem;
  font-family: 'Baloo 2';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  align-self: center;
  position: absolute;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 300ms forwards, color 300ms forwards;
}
.button:hover,
button:hover,
button[type='submit']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  background-color: #37119d;
  outline: 0;
}

.button:focus,
button:focus,
button[type='submit']:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus,
.button:active,
button:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
.button:target,
button:target,
input[type='submit']:target,
input[type='reset']:target,
input[type='button']:target {
  background-color: #4a2acb;
  outline: #4a2acb solid 3px;
  outline-offset: 4px;
}

.button:visited button:visited,
button[type='submit']:visited,
input[type='submit']:visited,
input[type='reset']:visited,
input[type='button']:visited {
  background-color: #5c33ff;
}

.button.button-primary,
button.button-primary,
button[type='submit'].button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
button[type='submit'].button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
button[type='submit'].button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: solid 2px #4a2acb;
  background-color: #e4f3fb;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}

input[type='submit'],
button[type='submit'] {
  flex: 1;
  background: #4a2acb;
  left: 46%;
  color: #f0ba8c;
  border: none !important;
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#mobile-header {
  display: none;
  left: 0px;
  top: 0px;
  background: #4a2acb;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 19px 19px;
  min-height: 101px;
  height: 101px;
  color: #fff;
  z-index: 2;
}

#mobile-header svg {
  margin: 27px 32px 0 auto;
  text-align: center;
}

#mobile-header h1 {
  color: #fff;
  text-align: left;
  margin: 27px auto 0 0;
}

@media only screen and (max-width: 960px) {
  body {
    height: auto;
  }
  main {
    width: 100%;
    min-width: none !important;
  }
  #mobile-header {
    display: flex;
  }
  .panels {
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: none;
  }
  .panel {
    width: 100% !important;
    border-radius: 0;
    min-width: 100px !important;
    margin: 0 auto 0 auto;
  }
  .right {
    margin-left: 0px;
  }
  .left {
    margin-top: -40px;
    z-index: 1;
  }

  form[name='login'] {
    margin-top: 30px;
  }
}
